<main ng-hide="closeDataAbout">
    <h1>This is Data About Administrator</h1>
 <div class="object">
    <p>Индекс {{$index+1}}</p>
    <p ng-hide="item.type == 'Выберите тип объекта'">Тип {{item.type}}</p>
    <p ng-show="item.name_obj">Имя объекта {{item.name_obj}}</p>
    <p ng-show="item.number_obj">Номер{{item.number_obj}}</p>
    <p ng-show="item.isolation_house" ng-hide="item.type == 'Квартира' || item.type == 'Участки' || item.type == 'Нежилая недвижимость' || item.type == 'Выберите тип объекта'">Изолир Дома {{item.isolation_house}}</p>
    <p ng-show="item.isolation_flat" ng-hide="item.type == 'Дом' || item.type == 'Участки' || item.type == 'Нежилая недвижимость' || item.type == 'Выберите тип объекта'">Изолир Кварт {{item.isolation_flat}}</p>
    <p ng-show="item.room" ng-hide="item.type == 'Участки' || item.type == 'Нежилая недвижимость' || item.type == 'Выберите тип объекта'">Кол-во комнат {{item.room}}</p>
    <p ng-show="item.district">Район {{item.district}}</p>
    <p ng-show="item.space">Площадь {{item.space}}</p>
    <p>Имя Агента {{item.name_agent}}</p>
    <p ng-repeat="phone in item.phone_agent">Телефон {{phone}}</p>
    <p ng-show="item.discriptions">Описание {{item.discriptions}}</p>
    <p>Стоимость {{item.price}}</p>
        <div> <p>Photo</p>
            <ul>
                <li style="width: 150px" class="li_image_photo" ng-repeat="(key, item) in item.photo_object"><img class="image_photo" ng-src="./uploads/{{item}}"></br>
                    <button ng-click="deletePhoto(key)">Удалить {{key}}</button>
                </li>

            </ul>
        </div>
    </div>
        <button ng-click="addImg ? addImg = false : addImg = true">Открыть редактирование фотографий</button></br>
        <div ng-show="addImg" ng-controller="AppController" nv-file-drop="" uploader="uploader" >
            <!-- 3. nv-file-over uploader="link" over-class="className" -->
            <div ng-show="uploader.isHTML5">
                <div class="drobzone over-zoney zone" nv-file-over="" uploader="uploader">
                    Перетащите файл сюда
                </div>
            </div>

            <br />

            <input type="file" nv-file-select="" uploader="uploader" multiple filters="imageFilter" />
            <div ng-show="messageImg">
                <ul>
                    <li>Журнал событий</li>
                    <li ng-repeat="item in messageImg">{{item}}</li>
                </ul>
            </div>
            <h2>Количество добавленных файлов {{ uploader.queue.length }}</h2>
            <ul>
                <li ng-repeat="item in uploader.queue">
                    <div>Имя: {{ item.file.name }}</div>
                    <div>Размер: {{ item.file.size/1024/1024|number:2 }} Mb</div>
                    <div ng-show="uploader.isHTML5">
                        Прогресс загрузки: {{ item.progress }}
                        <div class="item-progress-box">
                            <div class="item-progress" ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </div>
                    <div ng-if="controller.isImage(item._file)">
                        Предпросмотр:
                        <div ng-thumb="{ file: item._file, height: 200 }"></div>
                    </div>
                    <div>
                        <button ng-click="item.remove()" ng-click="item.progress = 0">Удалить</button>
                    </div>
                </li>
            </ul>
            <div>
                <div>
                    <div ng-show="uploader.progress">Общий прогресс загрузки: {{ uploader.progress }}</div>
                    <div ng-hide="uploader.progress">Общий прогресс загрузки: 0</div>
                    <div class="total-progress-box">
                        <div class="total-progress" ng-style="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
                <button ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">Загрузить изображения</button>
                <button ng-click="uploader.clearQueue()" ng-click="uploader.progress = 0" ng-disabled="!uploader.queue.length">Удалить изображения</button>
            </div>
        </div>

        <p>Объект</p>
        <select ng-model="item.type" ng-class="emptyData ? 'border-red' : ''">
            <option value="">Выберите тип объекта</option>
            <option>Квартира</option>
            <option>Дом</option>
            <option>Участки</option>
            <option>Нежилая недвижимость</option>
        </select><br/>
            Имя объекта<input ng-model="item.name_obj" ng-class="emptyData ? 'border-red' : ''" type="text"> <br/>
            Свойства дома<select ng-show="item.type == 'Дом'" ng-model="item.isolation_house">
            <option value="">Выберите свойства объекта</option>
            <option>Часть дома</option>
            <option>Целый дом</option>
            <option>Дача</option>
        </select><br/>
            Свойства Квартиры<select ng-show="item.type == 'Квартира'"  ng-model="item.isolation_flat">
            <option value="">Выберите свойства объекта</option>
            <option>Изолированные</option>
            <option>Гостинки</option>
        </select><br/>
            Кол-во комнат<select ng-model="item.room" ng-show="item.type == 'Квартира' || item.type == 'Дом'">
            <option value="">Выберите кол-во комнат</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>Многокомнатные</option>
            <option>Элитные</option>
        </select><br/>
            Цена <input ng-model="item.price" placeholder="Цена" ng-class="emptyData ? 'border-red' : ''" type="number"><br/>
            Метоположение<select  ng-hide="item.type == 'Выберите тип объекта'" ng-model="item.city">
            <option value="">Выберите Местоположение</option>
            <option>Харьков</option>
            <option>Пригород</option>
        </select><br/>
            Район<select ng-show="item.city == 'Харьков'" ng-model="item.district">
            <option value="">Выберите район</option>
            <option>Алеексеевка</option>
            <option>Аэропорт</option>
            <option>Восточный</option>
            <option>пл.Восстания(Конный рынок)</option>
            <option>Гагарина</option>
            <option>Бавария</option>
            <option>Жуковского</option>
            <option>Журавлёвка</option>
            <option>Завод им. Шевченко (ХПЗ)</option>
            <option>Залютина</option>
            <option>Ивановка</option>
            <option>Лысая гора</option>
            <option>Москалёвка</option>
            <option>Немышля</option>
            <option>Новые Дома</option>
            <option>Одеская</option>
            <option>Основа</option>
            <option>Павлово Поле</option>
            <option>Павловка</option>
            <option>Песочин</option>
            <option>Петихатки</option>
            <option>Рогань</option>
            <option>Салтовка</option>
            <option>Северная Салтовка</option>
            <option>Сортировка</option>
            <option>Холодная гора</option>
            <option>ХТЗ</option>
            <option>Шишковка</option>
            <option>Центр</option>
        </select><br/>
            Площадь<input type="number"  ng-model="item.space" placeholder="Площадь"><br/>
            Телефон<input type="number" placeholder="Ведите номер" ng-model="item.phone_agent[0]" value=""><br/>
            <input type="number" placeholder="Ведите номер" ng-model="item.phone_agent[1]" value=""><br/>
            <input type="number" placeholder="Ведите номер" ng-model="item.phone_agent[2]" value=""><br/>
            Описание<textarea ng-model="item.discriptions" rows="10" cols="35" placeholder="Описание"
                              maxlength="200"
        >{{item.discriptions}}</textarea><br/>
        </div>

        <input type="button" value="Change" ng-click="updateData(item)"><br/>
        <button ng-click="delete ? delete = false : delete = true">Удалить Объект</button></br>
         <div ng-show="delete">
             <p>Вы уверены</p>
             <button ng-click="deleteObj(item.number_obj)">Да, объект {{item.number_obj}} будет удалён навсегда</button>
             <button ng-click="delete = false">Нет</button>
         </div>

    <div ng-show="messageAddData">{{messageAddData}}</div>
    </div>

</main>
<div ng-show="messageClosePageAbout">{{messageClosePageAbout}}</div>