<h1>Hello word Administrator</h1>
<div>
    <div>
        <p>Agent</p>
        <input ng-model="userLogin.email" ng-class="emptyDataEmailUser ? 'border-red' : ''" type="text" placeholder="Login"><br>
        <input ng-model="userLogin.password" ng-class="emptyDataPasswordUser ? 'border-red' : ''" type="password" placeholder="Password">
        <input type="button" ng-click="login()" value="Login"><br>
        <input type="button" ng-click="logout()" value="Logout">
        <div>{{messageLogin}}</div>
    </div>
    <div ng-hide="authLogin">
        <p>Register</p>

        <input ng-model="userCredentials.email" ng-class="emptyDataEmail ? 'border-red' : ''" type="text" placeholder="Логин"><br>
        <input ng-model="userCredentials.password" ng-class="emptyDataPassword ? 'border-red' : ''" type="password" placeholder="Пароль"><br>
        <input ng-model="userCredentials.firstname" ng-class="emptyDataFirstName ? 'border-red' : ''" type="text" placeholder="Имя"><br>
        <input ng-model="userCredentials.lastname" ng-class="emptyDataLastName ? 'border-red' : ''" type="text" placeholder="Фамилия"><br>
        <label for="chex_admin">Права Администратора<input id="chex_admin" type="checkbox" ng-model="userCredentials.admin"></label><br>
        <input type="button" ng-click="register()" value="Зарегистрировать"><br>
        <div>{{messageForUser}}</div>
    </div>
</div>
<pre>{{testData}}</pre>
<div ng-show="authLogin">
    <ul>
    <li ng-repeat="(key, item) in data | userAccept: setAgent"><a class="item_a" ng-click="setIndex(key)" href="#/catalog_admin/{{item.number_obj}}">
        <div class="item">
            <p>{{$index+1}}</p>
            <img ng-src="{{data.photo[0]}}" name="img">
            <!--<img ng-repeat="photo in data.photo" ng-src="{{photo}}" name="img">-->
            <p>{{item.number}}</p>
            <p ng-show="item.isolation_house">Изолир Дома {{item.isolation_house}}</p>
            <p ng-show="item.isolation_flat">Изолир Кварт {{item.isolation_flat}}</p>
            <p ng-show="item.room">Кол-во комнат {{item.room}}</p>
            <p ng-show="item.district">Район {{item.district}}</p>
            <p ng-show="item.space">Площадь {{item.space}}</p>
            <p ng-show="item.address">Адресс {{item.address}}</p>
            <p>Имя Агента {{item.name_agent}}</p>
            <p ng-repeat="phone in item.phone_agent">Телефон {{phone}}</p>
            <p ng-show="item.discriptions">Описание {{item.discriptions}}</p>
            <p>Стоимость {{item.price}}</p>
        </div>
    </a></li>
    </ul>
</div>